body {
  background-image: url(Imagens/BGwave-01.jpg);
  font-family: 'Goldman', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 20px
}

@font-face {
  font-family: 'Goldman';
  src: url('Fonts/Goldman-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Goldman';
  src: url('Fonts/Goldman-Bold.ttf') format('truetype');
  font-weight: 700;
}

.custom-navbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid #eee;
  padding: 1rem;
  font-family: 'Goldman', sans-serif;
}

.nome {
  font-weight: lighter;
  font-size: 1.2rem;
  color: #4b4b4b;
}

.nome span {
  font-weight: bold;
  color: #000000;
}

.custom-link {
  color: #999;
  padding: 6px 16px;
  margin: 0 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
}

.custom-link:hover {
  color: #000;
  background-color: #e0e0e0;
  text-decoration: none;
}

.btn-drop {
  background-color: #d6d6d6;
}

.btn-drop:hover {
  background-color: #b1afaf;
}